@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/AnyConv.com__ProximaNova-Light.woff2), url(../fonts/ProximaNova-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/AnyConv.com__ProximaNova-Regular.woff2), url(../fonts/AnyConv.com__ProximaNova-Regular.woff2);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/AnyConv.com__ProximaNova-Bold.woff2), url(../fonts/ProximaNova-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.reviews__review-text, .description__massage-text, .description__hydrotherapy-text {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

.header .nav__item-link, .price__sesson, .record__description-addres, .record__description-metro, .record__description-record {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
}

.button {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
}

.reviews__review-clientname, .description__massage-title, .description__hydrotherapy-title {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

.header__title-top, .header__title-bottom, .sessions__item-left, .sessions__item-top, .sessions__item-bottom, .title, .price__summ, .price__giftcertificate-subtitle, .record__title {
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

body {
  background-color: #162831;
}

.header-w {
  width: 100%;
  padding-top: 30px;
  position: relative;
}

.header {
  width: 100%;
}

.header__top-inner {
  max-width: 1298px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__item {
  list-style: none;
}

.header .nav__item:not(:first-child) {
  margin-left: 50px;
}

.header .nav__item-link {
  text-decoration: none;
}

.header .nav__item-link:hover {
  color: bisque;
}

.header .button {
  color: #FFFFFF;
}

.header .button--color-blue {
  background-color: #018ABE;
}

.header__content {
  max-width: 1298px;
  width: 100%;
  min-height: 600px;
  background-image: url(../images/header__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content-title {
  margin-top: 136px;
  max-width: 587px;
  width: 100%;
}

.header__title-top {
  position: relative;
  text-align: center;
}

.header__title-top::before {
  content: '';
  position: absolute;
  background: url(../images/petal-left.png) no-repeat;
  width: 28px;
  height: 14px;
  left: 94px;
  top: 8px;
}

.header__title-top::after {
  content: '';
  position: absolute;
  background: url(../images/petal-right.png) no-repeat;
  width: 28px;
  height: 14px;
  right: 94px;
  top: 8px;
}

.header__title-bottom {
  font-size: 64px;
  line-height: 140%;
  text-align: center;
  margin-top: 40px;
}

.button {
  display: inline-block;
  padding: 9px 15px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  background: #FFFFFF;
  color: #018ABE;
}

.button:hover {
  background-color: antiquewhite;
  color: #162831;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sessions-w {
  width: 100%;
  padding: 150px 0px;
}

.sessions {
  max-width: 1298px;
  width: 100%;
  margin: 0 auto;
}

.sessions__title {
  text-align: center;
  margin-bottom: 100px;
}

.sessions__items {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sessions__item-left {
  position: relative;
  max-width: 416px;
  width: 100%;
  min-height: 540px;
  background: url(../images/sessons-img-big.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 0px 50px 40px;
  font-size: 24px;
}

.sessions__item-left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #018ABE;
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  left: 0;
}

.sessions__item-center {
  max-width: 416px;
  width: 100%;
}

.sessions__item-top {
  position: relative;
  max-width: inherit;
  width: inherit;
  min-height: 258px;
  background: url(../images/sessons-img-little.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
  padding: 0px 40px 30px 40px;
  margin-bottom: 24px;
}

.sessions__item-bottom {
  position: relative;
  max-width: inherit;
  width: inherit;
  min-height: 258px;
  background: url(../images/sessons-img-little.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
  padding: 0px 40px 30px 40px;
}

.sessions__item-right {
  max-width: 416px;
  width: 100%;
}

.title-w {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  position: relative;
  display: block;
  font-size: 42px;
}

.title::before {
  content: '';
  position: absolute;
  background: url(../images/petal-blue-left.png) no-repeat;
  width: 28px;
  height: 14px;
  left: -72px;
  top: 20px;
}

.title::after {
  content: '';
  position: absolute;
  background: url(../images/petal-blue-right.png) no-repeat;
  width: 28px;
  height: 14px;
  right: -72px;
  top: 20px;
}

.reviews-w {
  width: 100%;
}

.reviews {
  max-width: 1736px;
  width: 100%;
  margin: 0 auto;
}

.reviews .title-w {
  margin-bottom: 100px;
}

.reviews__items {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__review {
  max-width: 500px;
  width: 100%;
  min-height: 276px;
  background-color: #018ABE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 40px 0px 71px 0px;
  margin-bottom: 60px;
}

.reviews__review:last-child {
  padding-bottom: 57px;
}

.reviews__review-inner {
  max-width: 410px;
  width: 100%;
}

.reviews__review-clientname {
  font-size: 16px;
  margin-bottom: 15px;
}

.reviews__review-text {
  font-size: 10px;
}

.reviews .dots-w {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .dot {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  opacity: 0.4;
  border-radius: 3px;
  cursor: pointer;
}

.reviews .dot:not(:first-child) {
  margin-left: 20px;
}

.description-w {
  width: 100%;
  padding: 150px 0px;
}

.description {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
}

.description .title-w {
  margin-bottom: 100px;
}

.description__items {
  max-width: inherit;
  width: inherit;
}

.description__items-top {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.description__massage {
  max-width: 466px;
  width: 100%;
  margin: 66px 0px 65px 0px;
}

.description__massage-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.description__massage-text {
  font-size: 16px;
}

.description__itemstop-img {
  max-width: 526px;
  width: 100%;
  height: 365px;
}

.description__items-bottom {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__itemsbottom-img {
  max-width: 526px;
  width: 100%;
  height: 400px;
}

.description__hydrotherapy {
  max-width: 466px;
  width: 100%;
  margin: 17px 0px 17px 0px;
}

.description__hydrotherapy-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.description__hydrotherapy-text {
  font-size: 16px;
}

.price-w {
  width: 100%;
  padding: 150px 0px;
}

.price {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
}

.price .title-w {
  margin-bottom: 100px;
}

.price__items {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__description-sessons {
  max-width: 416px;
  width: 100%;
  margin: 103px 0px;
}

.price__list {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__list:not(:last-child) {
  margin-bottom: 31px;
}

.price__sesson {
  position: relative;
  display: block;
  font-size: 18px;
  padding-left: 38px;
}

.price__sesson::before {
  content: '';
  position: absolute;
  background: url(../images/price-petal.png) no-repeat;
  width: 18px;
  height: 9px;
  top: 7px;
  left: 0;
}

.price__summ {
  font-size: 18px;
}

.price__giftcertificate {
  max-width: 526px;
  width: 100%;
}

.price__giftcertificate-img {
  max-width: inherit;
  width: inherit;
  min-height: 396px;
  margin-bottom: 30px;
}

.price__giftcertificate-subtitle-w {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.record-w {
  width: 100%;
  padding: 150px 0px 90px 0px;
}

.record {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.record__location-img {
  max-width: 856px;
  width: 100%;
  min-height: 604px;
}

.record__items-w {
  max-width: 392px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.record__items {
  max-width: inherit;
  width: inherit;
  background: #018ABE;
  border-radius: 10px;
  padding: 35px 45px;
}

.record__items:not(:last-child) {
  margin-bottom: 24px;
}

.record__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.record__description {
  margin-bottom: 30px;
}

.record__description-addres {
  display: block;
  position: relative;
  margin-bottom: 22px;
  padding-left: 40px;
}

.record__description-addres::before {
  content: '';
  position: absolute;
  background: url(../images/icon-location.png) no-repeat;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.record__description-metro {
  display: block;
  position: relative;
  margin-bottom: 22px;
  padding-left: 40px;
}

.record__description-metro::before {
  content: '';
  position: absolute;
  background: url(../images/icon-metro.png) no-repeat;
  width: 20px;
  height: 16px;
  top: 0;
  left: 0;
}

.record__description-record {
  display: block;
  position: relative;
  padding-left: 40px;
}

.record__description-record::before {
  content: '';
  position: absolute;
  background: url(../images/icon-case.png) no-repeat;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=styles.css.map */